.header {
  color: red;
}
label {
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
}

.form-group.checkbox {
  padding-top: 0;
  margin-top: -8px;
  margin-bottom: 15px;
}
.card-controls {
  width: 375px;
  margin: 1.5rem 0;
  white-space: nowrap;
  .right {
    float: right;
  }
  label,
  button,
  a {
    margin-right: 0.5rem;
  }
  span:last-child {
    padding-left: 2px;
  }
  label {
    font-weight: 500;
    vertical-align: middle;
    font-size: 14px;
    padding-top: 7px;
    height: 34px;
    margin-left: 0.75rem;
    margin-bottom: 0;
  }
  .select-wrapper {
    width: auto;
    display: inline-block;
    vertical-align: middle;
  }
  select {
    width: auto;
    padding: 6px;
  }
}

.select-wrapper {
  position: relative;
  &:before {
    font-family: "Glyphicons Halflings";
    position: absolute;
    font-size: 1rem;
    top: 1rem;
    right: 0.666rem;
    content: "\e252";
  }
}

@font-face {
  font-family: 'Netrunner';
  src:url('/fonts/netrunner.eot');
  src:url('/fonts/netrunner.eot?#iefix-fuq2l8') format('embedded-opentype'),
  url('/fonts/netrunner.woff') format('woff'),
  url('/fonts/netrunner.ttf') format('truetype'),
  url('/fonts/netrunner.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'Netrunner';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Shaper-smooth:before {
  content: "\e613";
}
.icon-Shaper:before {
  content: "\e603";
}
.icon-Honor-and-Profit:before {
  content: "\e614";
}
.icon-Spin-Cycle:before {
  content: "\e615";
}
.icon-Genesis-Cycle:before {
  content: "\e616";
}
.icon-Creation-and-Control:before {
  content: "\e617";
}
.icon-Core-Set:before {
  content: "\e618";
}
.icon-credit:before {
  content: "\e600";
}
.icon-recurring-credit:before {
  content: "\e608";
}
.icon-click:before {
  content: "\e611";
}
.icon-link:before {
  content: "\e601";
}
.icon-trash:before {
  content: "\e606";
}
.icon-mu:before {
  content: "\e610";
}
.icon-1mu:before {
  content: "\e60a";
}
.icon-subroutine:before {
  content: "\e604";
}
.icon-3mu:before {
  content: "\e60e";
}
.icon-2mu:before {
  content: "\e60c";
}
.icon-anarch:before {
  content: "\e605";
}
.icon-criminal:before {
  content: "\e612";
}
.icon-haas-bioroid:before {
  content: "\e602";
}
.icon-weyland-consortium:before {
  content: "\e607";
}
.icon-jinteki-simple:before {
  content: "\e005";
}
.icon-jinteki:before {
  content: "\e609";
}
.icon-nbn:before {
  content: "\e60b";
}
.icon-agenda:before {
  content: "\e60d";
}
.icon-rez:before {
  content: "\e60f";
}
.icon-interrupt {
  display: inline-block;
}
.icon-interrupt:before {
  content: "  ";
  width: 1rem;
  height: 1rem;
  background-image: url('/Icons/Interrupt.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin numbers() {
  font-family: 'Orbitron', sans-serif;
}
@mixin title() {
  font-family: 'Cinzel', serif;
  text-transform: capitalize;
}
@mixin type() {
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
}
@mixin text() {
  font-family: 'Noto Serif', serif;
}

@mixin trash() {
  font-weight: bold;
  font-family: 'Arial', san-serif;
  font-size: 29px;
  transform: scale(0.8, 1);
  color: #988b7f;
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: calc(50% - 3px);
    left: calc(50% - 5px);
    transform: translateX(-50%) translateY(-50%);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url('/Icons/IconTrash.png');
    filter: drop-shadow(2px 2px 2px #222);
  }
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: white;
}

footer {
  padding-top: 20px;
  margin-top: 40px;
  border-top: 1px solid lightgrey;
  font-size: 12px;
  padding-bottom: 40px;
  position: relative;
}

.copy-clipboard {
  width: 375px;
  margin-top: 1rem;
  padding: 0 1px;
  font-size: 1rem;
  i {
    margin-right: 0.25rem;
  }
  .complete {
    color: green;
    margin-top: 1rem;
    .warning {
      color: gray;
    }
  }
  pre {
    margin-top: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .trashing {
    float: right;
  }
}

.card {
  width: 375px;
  height: 525px;
  background-position: top left;
  background-size: contain;
  position: relative;
  margin-bottom: 10px;
  border: 0;
  border-radius: 2rem;

  &.has-image img {
    cursor: move;
  }

  img {
    width: 100%;
    background: transparent;
  }
  > div {
    position: absolute;
  }
  
  .center {
    transform: translateX(-50%);
  }
  .outline {
    -webkit-text-stroke: 1px black;
  }

  .price, .strength, .link, .min-deck, .max-influence {
    @include numbers();
    text-align: center;
  }
  .price, .strength, .link, .min-deck, .max-influence {
    width: 10%;
  }
  .name, .subtitle {
    @include title();
  }
  .type {
    @include type();
    font-weight: normal;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    .kind {
      font-family: 'Orbitron', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .main-content {
    width: 84.5%;
    overflow: hidden;
    @include text();
    white-space: pre-wrap;
    .fluff {
      margin-top: 0.5rem;
      font-style: italic;
      font-size: 90%;
    }
    .text p {
      margin-bottom: 0.5rem;
    }
  }
  .mu, .link, .min-deck, .max-influence, .subtitle {
    display: none;
  }
  .influence {
    width: 105px;
    height: 21px;
    background-size: contain;
  }

  .influence.i1 {
    background-image: url('/Icons/IconInfluence1.png');
  }
  .influence.i2 {
    background-image: url('/Icons/IconInfluence2.png');
  }
  .influence.i3 {
    background-image: url('/Icons/IconInfluence3.png');
  }
  .influence.i4 {
    background-image: url('/Icons/IconInfluence4.png');
  }
  .influence.i5 {
    background-image: url('/Icons/IconInfluence5.png');
  }

  &.back {
    .name, .price, .strength, .type, .influence, .mu,.main-content{
      display: none;
    }
  }

  &.agenda {
    .price, .strength {
      text-shadow: 3px 3px black;
      font-size: 34px;
      font-weight: bold;
      color: white;
      z-index: 3;
    }
    .name {
      top: 4.1%;
      left: 7.4%;
      font-size: 18px;
      max-width: 74%;
      white-space: nowrap;
      overflow: hidden;
    }
    .price {
      left: 90.2%;
      top: 1.4%;
      text-align: center;
    }
    .strength {
      top: 49.8%;
      left: 11.7%;
      text-align: center;
    }
    .type {
      top: 63%;
      left: 11%;
    }
    .main-content {
      top: 68.6%;
      left: 11%;
      width: 79%;
      height: 24.5%;
      font-weight: normal;
      text-align: left;
    }
    .influence {
      display: none;
      left: 4.3%;
      top: 94.4%;
    }
    &.neutral {
      .influence {
        display: block;
      }
    }
  }

  &.operation {
    .name {
      font-size: 16px;
      top: 3.2%;
      left: 24%;
    }
    .price {
      font-size: 29px;
      top: 4.6%;
      left: 10.8%;
      color: white;
      font-weight: bold;
    }
    .trash {
      left: 86%;
      top: 83%;
      @include trash();
    }
    .strength {
      display: none;
    }
    .type {
      top: 58.75%;
      left: 10.1%;
    }
    .main-content {
      width: 80.5%;
      top: 64.5%;
      left: 10.1%;
      height: 26%;
      font-weight: normal;
      text-align: left;
    }
    .influence {
      left: 14.2%;
      top: 94.3%;
    }
  }

  &.operation.neutral {
    .influence {
      left: 4.25%;
    }
  }

  &.upgrade {
    .name {
      font-size: 16px;
      top: 50.4%;
      left: 9%;
      font-weight: normal;
    }
    .price {
      font-size: 29px;
      top: 4.7%;
      left: 12.2%;
      color: white;
      font-weight: bold;
    }
    .trash {
      left: 88%;
      top: 85%;
      @include trash();
    }
    .type {
      left: 10.1%;
      top: 56.75%;
    }
    .main-content {
      top: 62.6%;
      width: 80.2%;
      left: 10.1%;
      height: 28.5%;
      font-weight: normal;
      text-align: left;
    }
    .influence {
      left: 14.2%;
      top: 94.3%;
    }
  }

  &.upgrade.neutral {
    .influence {
      left: 4.25%;
    }
  }

  &.asset {
    .name {
      font-size: 16px;
      top: 50.5%;
      left: 9.5%;
      font-weight: normal;
    }
    .price {
      font-size: 29px;
      top: 4.7%;
      left: 12.2%;
      color: white;
      font-weight: bold;
    }
    .strength {
      display: none;
    }
    .type {
      top: 57%;
      left: 8%;
    }
    .main-content {
      top: 62.6%;
      left: 8%;
      height: 29.5%;
      font-weight: normal;
      text-align: left;
    }
    .influence {
      top: 94.5%;
      left: 14%;
    }
    .trash {
      left: 88%;
      top: 86%;
      @include trash();
    }
  }

  &.asset.neutral {
    .influence {
      left: 4.25%;
    }
  }

  &.ice {
    .name {
      font-size: 18px;
      top: 3.2%;
      left: 23.8%;
    }
    .price {
      font-size: 29px;
      top: 4.7%;
      left: 12.2%;
      color: white;
      font-weight: bold;
    }
    .strength {
      transform: rotate(-90deg);
      text-align: right;
      top: 90.5%;
      left: 2.6%;
      font-weight: normal;
      font-size: 30px;
      -webkit-text-stroke: 0;
    }
    .trash {
      left: 84.5%;
      top: 43%;
      @include trash();
    }
    .type {
      text-align: right;
      font-weight: normal;
      font-size: 13px;
      top: 18%;
      left: 6%;
      transform-origin: top right;
      transform: translate(-100%,0) rotate(-90deg);
      background-position: 0 -10px;
      background-repeat: no-repeat;
      padding-left: 46px;
    }
    .main-content {
      width: 69.5%;
      top: 14.5%;
      left: 20.1%;
      height: 35%;
      font-weight: normal;
      text-align: left;
    }
    .influence {
      transform-origin: bottom left;
      transform: rotate(-90deg);
      left: 95.7%;
      top: 86.6%;
    }
  }

  &.event {
    .name {
      font-size: 16px;
      top: 2.6%;
      left: 22.3%;
    }
    .price {
      font-size: 29px;
      top: 4.6%;
      left: 10.8%;
      color: white;
      font-weight: bold;
    }
    .strength {
      display: none;
    }
    .type {
      top: 62.25%;
      left: 7.5%;
    }
    .main-content {
      width: 82%;
      top: 67.2%;
      left: 7.5%;
      height: 26.5%;
      font-weight: normal;
      text-align: left;
    }
    .influence {
      transform-origin: bottom left;
      transform: rotate(-90deg);
      left: 99.1%;
      top: 88.75%;
    }
  }

  &.hardware {
    .name {
      font-size: 16px;
      top: 50.8%;
      left: 19.7%;
    }
    .price {
      font-size: 29px;
      top: 4.6%;
      left: 10.8%;
      color: white;
      font-weight: bold;
    }
    .strength {
      display: none;
    }
    .type {
      top: 58.75%;
      left: 12.6%;
      font-weight: normal;
      font-size: 13px;
      text-align: left;
    }
    .main-content {
      width: 77.5%;
      top: 64.2%;
      left: 12.6%;
      height: 28.5%;
      font-weight: normal;
      text-align: left;
    }
    .influence {
      transform-origin: bottom left;
      transform: rotate(-90deg);
      left: 99.1%;
      top: 88.75%;
    }
  }

  &.program {
    .name {
      font-size: 16px;
      top: 46.7%;
      left: 5.7%;
    }
    .price {
      font-size: 29px;
      top: 4.6%;
      left: 10.8%;
      color: white;
      font-weight: bold;
    }
    .strength {
      top: 87.2%;
      left: 8.4%;
      font-size: 30px;
      -webkit-text-stroke: 0;
    }
    .type {
      top: 53.5%;
      left: 10.2%;
    }
    .main-content {
      width: 78.5%;
      top: 59.4%;
      left: 10.2%;
      height: 29%;
      font-weight: normal;
      text-align: left;
    }
    .influence {
      transform-origin: bottom left;
      transform: rotate(-90deg);
      left: 99.1%;
      top: 88.75%;
    }

    .mu {
      top: 3%;
      left: 27.5%;
      width: 5%;
      display: block;
      font-size: 16px;
      font-weight: bold;
      color: white;
      z-index: 2;
      text-align: center;
      -webkit-text-stroke: 1px black;
      font-family: 'Orbitron', sans-serif;
      // font-weight: normal;

    }
  }

  &.resource {
    .name {
      font-size: 16px;
      top: 2.6%;
      left: 21.8%;
    }
    .price {
      font-size: 29px;
      top: 4.6%;
      left: 10.8%;
      color: white;
      font-weight: bold;
    }
    .strength {
      display: none;
    }
    .type {
      top: 47.6%;
      left: 5.8%;
    }
    .main-content {
      width: 76%;
      top: 53.4%;
      left: 5.8%;
      height: 39.5%;
      font-weight: normal;
      text-align: left;
    }
    .influence {
      transform-origin: bottom left;
      transform: rotate(-90deg);
      left: 99.1%;
      top: 88.75%;
    }
  }

  &.corp.identity {
    .strength {
      display: none;
    }
  }

  &.identity {
    .influence, .price {
      display: none;
    }
    .name {
      left: 15.5%;
      top: 5.75%;
      font-weight: normal;
    }
    .subtitle {
      left: 4%;
      top: 11%;
      font-weight: normal;
      display: block;
    }
    .type {
      top: 73.75%;
      left: 9.5%;
    }
    .main-content {
      left: 19.5%;
      top: 79%;
      width: 77%;
      height: 20%;
      font-weight: normal;
      text-align: left;
    }
    .min-deck {
      text-shadow: 2px 2px white;
      top: 87.7%;
      left: 4.5%;
      font-weight: bold;
      font-size: 15px;
      text-align: center;
      display: block;
    }
    .max-influence {
      text-shadow: 2px 2px black;
      top: 92.9%;
      left: 4.5%;
      font-weight: bold;
      font-size: 15px;
      color: white;
      text-align: center;
      display: block;
    }
    &.runner {
      .name {
        left: 25%;
        top: 3.5%;
      }
      .subtitle {
        left: 31%;
        top: 8.5%;
      }
      .type {
        top: 73.25%;
        left: 15.75%;
      }
      .main-content {
        left: 15.75%;
        top: 79%;
        width: 69%;
        height: 25%;
      }
      .min-deck {
        top: 87.7%;
        left: 85%;
      }
      .max-influence {
        top: 92.9%;
        left: 85%;
      }
      .strength {
        width: 11%;
        top: 4.5%;
        left: 10%;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        color: white;
        display: block;
      }
    }
  }
}

$select-color-item:					#1da7ee;
$select-color-item-text:			#fff;
$select-color-item-active-text:		#fff;
$select-color-item-border:			#0073bb;
$select-color-item-active:			#92c836;
$select-color-item-active-border:	#00578d;
$select-width-item-border:			1px;
$select-shadow-input:				inset 0 1px 1px rgba(0, 0, 0, 10%) !default;
$select-shadow-input-focus:			inset 0 1px 2px rgba(0, 0, 0, 15%) !default;

.tooltip-inner {
  min-width: 256px;
  color: black;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 0 0 2px #999;
  padding: 16px;

  dl {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    gap: 12px 8px;
    margin: 0;
    padding: 0;
  }
  
  dt, dd {
    margin: 0;
    align-self: center;
  }
  
  dt {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  
  dd {
    text-align: center;
  }

  .icon-interrupt {
    width: 32px;
    height: 32px;
  }
  .icon-interrupt:before {
    display: inline-block;
    width: 32px;
    height: 32px;
  }
}

// @import "tom-select";
// @include ts-caret;

/**
 * tom-select.css (v//@@version)
 * Copyright (c) contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 */

// base styles
$select-ns:										'ts' !default;
$select-font-family:							inherit !default;
$select-font-size:								13px !default;
$select-line-height:							18px !default;
$select-color-text:								#303030 !default;
$select-color-border:							#d0d0d0 !default;
$select-color-highlight:						rgba(125, 168, 208, 20%) !default;
$select-color-input:							#fff !default;
$select-color-input-full:						$select-color-input !default;
$select-color-disabled:							#fafafa !default;
$select-color-item:								#f2f2f2 !default;
$select-color-item-text:						$select-color-text !default;
$select-color-item-border:						#d0d0d0 !default;
$select-color-item-active:						#e8e8e8 !default;
$select-color-item-active-text:					$select-color-text !default;
$select-color-item-active-border:				#cacaca !default;
$select-color-dropdown:							#fff !default;
$select-color-dropdown-border:					$select-color-border !default;
$select-color-dropdown-border-top:				#f0f0f0 !default;
$select-color-dropdown-item-active:				#f5fafd !default;
$select-color-dropdown-item-active-text:		#495c68 !default;
$select-color-dropdown-item-create-text:		rgba(red($select-color-text), green($select-color-text), blue($select-color-text), 50%) !default;
$select-color-dropdown-item-create-active-text:	$select-color-dropdown-item-active-text !default;
$select-color-optgroup:							$select-color-dropdown !default;
$select-color-optgroup-text:					$select-color-text !default;
$select-lighten-disabled-item:					30% !default;
$select-lighten-disabled-item-text:				30% !default;
$select-lighten-disabled-item-border:			30% !default;
$select-opacity-disabled:						0.5 !default;
$select-shadow-input:							none !default;
$select-shadow-input-focus:						none !default;
$select-border-width:							1px !default;
$select-border:									$select-border-width solid $select-color-border !default;
$select-dropdown-border:						1px solid $select-color-dropdown-border !default;
$select-border-radius:							3px !default;
$select-width-item-border:						0 !default;
$select-max-height-dropdown:					200px !default;
$select-padding-x:								8px !default;
$select-padding-y:								8px !default;
$select-padding-item-x:							6px !default;
$select-padding-item-y:							2px !default;
$select-padding-dropdown-item-x:				$select-padding-x !default;
$select-padding-dropdown-item-y:				5px !default;
$select-margin-item-x:							3px !default;
$select-margin-item-y:							3px !default;
$select-arrow-size:								5px !default;
$select-arrow-color:							#808080 !default;
$select-arrow-offset:							15px !default;
$select-caret-margin:							0 4px !default;
$select-caret-margin-rtl:						0 4px 0 -2px !default;
$select-spinner-size:							30px !default;
$select-spinner-border-size:					5px !default;
$select-spinner-border-color:					$select-color-border !default;

.#{$select-ns}-control {
	border: $select-border;
	padding: $select-padding-y $select-padding-x;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	box-shadow: $select-shadow-input;
	border-radius: $select-border-radius;
	display: flex;
	flex-wrap: wrap;

	.#{$select-ns}-wrapper.multi.has-items & {
		$padding-x: $select-padding-x;
		$padding-top: calc( #{$select-padding-y} - #{$select-padding-item-y} - #{$select-width-item-border});
		$padding-bottom: calc( #{$select-padding-y} - #{$select-padding-item-y} - #{$select-margin-item-y} - #{$select-width-item-border});

		padding: $padding-top $padding-x $padding-bottom;
	}

	.full & {
		background-color: $select-color-input-full;
	}

	.disabled &,
	.disabled & * {
		cursor: default !important;
	}

	.focus & {
		box-shadow: $select-shadow-input-focus;
	}

	> * {
		vertical-align: baseline;
		display: inline-block;
	}

	.#{$select-ns}-wrapper.multi & > div {
		cursor: pointer;
		margin: 0 $select-margin-item-x $select-margin-item-y 0;
		padding: $select-padding-item-y $select-padding-item-x;
		background: $select-color-item;
		color: $select-color-item-text;
		border: $select-width-item-border solid $select-color-item-border;

		&.active {
			background: $select-color-item-active;
			color: $select-color-item-active-text;
			border: $select-width-item-border solid $select-color-item-active-border;
		}
	}

	.#{$select-ns}-wrapper.multi.disabled & > div {
		&, &.active {
			color: lighten(desaturate($select-color-item-text, 100%), $select-lighten-disabled-item-text);
			background: lighten(desaturate($select-color-item, 100%), $select-lighten-disabled-item);
			border: $select-width-item-border solid lighten(desaturate($select-color-item-border, 100%), $select-lighten-disabled-item-border);
		}
	}

	> input {
		&::-ms-clear {
			display: none;
		}

		flex: 1 1 auto;
		min-width: 7rem;
		display: inline-block !important;
		padding: 0 !important;
		min-height: 0 !important;
		max-height: none !important;
		max-width: 100% !important;
		margin: 0 !important;
		text-indent: 0 !important;
		border: 0 none !important;
		background: none !important;
		line-height: inherit !important;
		user-select: auto !important;
		box-shadow: none !important;
		&:focus { outline: none !important; }
	}

	.has-items & > input{
		margin: $select-caret-margin !important;
	}

	&.rtl {
		text-align: right;
		&.single .#{$select-ns}-control:after {
			left: $select-arrow-offset;
			right: auto;
		}
		.#{$select-ns}-control > input {
			margin: $select-caret-margin-rtl !important;
		}
	}

	.disabled & {
		opacity: $select-opacity-disabled;
		background-color: $select-color-disabled;
	}

	// hide input, while retaining its focus, and maintain layout so users can still click on the space to bring the display back
	// visibility:hidden can prevent the input from receiving focus
	.input-hidden & > input {
		opacity: 0;
		position: absolute;
		left: -10000px;
	}
}

.#{$select-ns}-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 10;
	border: $select-dropdown-border;
	background: $select-color-dropdown;
	margin: 0.25rem 0 0;
	border-top: 0 none;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 10%);
	border-radius: 0 0 $select-border-radius $select-border-radius;

	[data-selectable] {
		cursor: pointer;
		overflow: hidden;

		.highlight {
			background: $select-color-highlight;
			border-radius: 1px;
		}
	}

	.option,
	.optgroup-header,
	.no-results,
	.create {
		padding: $select-padding-dropdown-item-y $select-padding-dropdown-item-x;
	}

	.option, [data-disabled], [data-disabled] [data-selectable].option {
		cursor: inherit;
		opacity: 0.5;
	}

	[data-selectable].option {
		opacity: 1;
		cursor: pointer;
	}

	.optgroup:first-child .optgroup-header {
		border-top: 0 none;
	}

	.optgroup-header {
		color: $select-color-optgroup-text;
		background: $select-color-optgroup;
		cursor: default;
	}

	.active {
		background-color: $select-color-dropdown-item-active;
		color: $select-color-dropdown-item-active-text;

		&.create {
			color: $select-color-dropdown-item-create-active-text;
		}
	}

	.create {
		color: $select-color-dropdown-item-create-text;
	}

	.spinner{
		display: inline-block;
		width: $select-spinner-size;
		height: $select-spinner-size;
		margin: $select-padding-dropdown-item-y $select-padding-dropdown-item-x;


		&::after {
			content: " ";
			display: block;
			width: $select-spinner-size * .8;
			height: $select-spinner-size * .8;
			margin: $select-spinner-size * .1;
			border-radius: 50%;
			border: $select-spinner-border-size solid $select-spinner-border-color;
			border-color: $select-spinner-border-color transparent $select-spinner-border-color transparent;
			animation: lds-dual-ring 1.2s linear infinite;
		}
		@keyframes lds-dual-ring {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}
	}
}

.#{$select-ns}-dropdown-content {
	overflow: hidden auto;
	max-height: $select-max-height-dropdown;
	scroll-behavior: smooth;
}

.plugin-dropdown_input{

	&.focus.dropdown-active .#{$select-ns}-control{
		box-shadow: none;
		border: $select-border;
		@if variable-exists(input-box-shadow) {
			box-shadow: $input-box-shadow;
		}
	}

	.dropdown-input {
		border: 1px solid $select-color-border;
		border-width: 0 0 1px;
		display: block;
		padding: $select-padding-y $select-padding-x;
		box-shadow: $select-shadow-input;
		width: 100%;
		background: transparent;
	}

	&.focus .#{$select-ns}-dropdown .dropdown-input{
		@if variable-exists(input-focus-border-color) {
			border-color: $input-focus-border-color;
			outline: 0;
			@if $enable-shadows {
				box-shadow: $input-box-shadow, $input-focus-box-shadow;
			} @else {
				box-shadow: $input-focus-box-shadow;
			}
		}
	}

	.items-placeholder{
		border: 0 none !important;
		box-shadow: none !important;
		width: 100%;
	}

	&.has-items .items-placeholder,
	&.dropdown-active .items-placeholder{
		display: none !important;
	}
}

:root {
	--ts-pr-clear-button: 0;
	--ts-pr-caret: 0;
	--ts-pr-min: .75rem;
}

@mixin selectize-vertical-gradient($color-top, $color-bottom) {
    background-color: color-mix($color-top, $color-bottom, 60%);
    background-image: linear-gradient(to bottom, $color-top, $color-bottom);
    background-repeat: repeat-x;
}

.#{$select-ns}-wrapper.single {
	.#{$select-ns}-control {
		&, input {
			cursor: pointer;
		}
	}
}

.#{$select-ns}-control:not(.rtl) {
	padding-right:	max( var(--ts-pr-min), calc( var(--ts-pr-clear-button) + var(--ts-pr-caret)) ) !important;
}

.#{$select-ns}-control.rtl {
	padding-left:	max( var(--ts-pr-min), calc( var(--ts-pr-clear-button) + var(--ts-pr-caret)) ) !important;
}

@mixin ts-caret() {
	.#{$select-ns}-wrapper.single {
		.#{$select-ns}-control {
			--ts-pr-caret: 2rem;

			&::after {
				content: ' ';
				display: block;
				position: absolute;
				top: 50%;
				margin-top: round(-0.5 * $select-arrow-size);
				width: 0;
				height: 0;
				border-style: solid;
				border-width: $select-arrow-size $select-arrow-size 0 $select-arrow-size;
				border-color: $select-arrow-color transparent transparent transparent;
			}
			
			&:not(.rtl)::after {
				right: $select-arrow-offset;
			}
			
			&.rtl::after {
				left: $select-arrow-offset;
			}
		}

		&.dropdown-active .#{$select-ns}-control::after {
			margin-top: $select-arrow-size * -0.8;
			border-width: 0 $select-arrow-size $select-arrow-size $select-arrow-size;
			border-color: transparent transparent $select-arrow-color transparent;
		}

		&.input-active .#{$select-ns}-control,
		&.input-active .#{$select-ns}-control input {
			cursor: text;
		}
	}
}

.#{$select-ns}-wrapper {
	position: relative;
}

.#{$select-ns}-dropdown,
.#{$select-ns}-control,
.#{$select-ns}-control input {
	color: $select-color-text;
	font-family: $select-font-family;
	font-size: $select-font-size;
	line-height: $select-line-height;
}

.#{$select-ns}-control,
.#{$select-ns}-wrapper.single.input-active .#{$select-ns}-control {
	background: $select-color-input;
	cursor: text;
}

.ts-hidden-accessible {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	clip-path: inset(50%) !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.#{$select-ns}-wrapper {
	display:flex;
	min-height:$select-line-height + ($select-padding-y*2) + ($select-border-width *2);

	&.multi {
		&.has-items .#{$select-ns}-control {
			$padding-x: $select-padding-x - 3px;

			padding-left: $padding-x;

			--ts-pr-min: $padding-x;
		}

		.#{$select-ns}-control {
			[data-value] {
				text-shadow: 0 1px 0 rgba(0, 51, 83, 30%);
				border-radius: 3px;
				@include selectize-vertical-gradient(#1da7ee, #178ee9);

				box-shadow: 0 1px 0 rgba(0, 0, 0, 20%),inset 0 1px rgba(255, 255, 255, 3%);

				&.active {
					@include selectize-vertical-gradient(#008fd8, #0075cf);
				}
			}
		}

		&.disabled .#{$select-ns}-control [data-value] {
			color: #999;
			text-shadow: none;
			background: none;
			box-shadow: none;

			&, .remove {
				border-color: #e6e6e6;
			}

			.remove {
				background: none;
			}
		}
	}

	&.single {
		.#{$select-ns}-control {
			box-shadow: 0 1px 0 rgba(0, 0, 0, 5%), inset 0 1px 0 rgba(255, 255, 255, 80%);
			@include selectize-vertical-gradient(#fefefe, #f2f2f2);
		}
	}
}

.#{$select-ns}-wrapper.single .#{$select-ns}-control, .#{$select-ns}-dropdown.single {
	border-color: #b8b8b8;
}

.#{$select-ns}-control {
	.dropdown-active & {
		border-radius: $select-border-radius $select-border-radius 0 0;
	}
}

.#{$select-ns}-dropdown {
	.optgroup-header {
		padding-top: $select-padding-dropdown-item-y + 2px;
		font-weight: bold;
		font-size: 0.85em;
	}

	.optgroup {
		border-top: 1px solid $select-color-dropdown-border-top;

		&:first-child {
			border-top: 0 none;
		}
	}
}

.#{$select-ns}-wrapper.plugin-remove_button{
	.item {
		display: inline-flex;
		align-items: center;
	}

	.item .remove {
		color: inherit;
		text-decoration: none;
		vertical-align: middle;
		display: inline-block;
		padding: 0 $select-padding-item-x;
		border-radius: 0 2px 2px 0;
		box-sizing: border-box;
	}

	.item .remove:hover {
		background: rgba(0, 0, 0, 5%);
	}

	&.disabled .item .remove:hover {
		background: none;
	}


	.remove-single {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 23px;
	}
}

.#{$select-ns}-wrapper.plugin-remove_button:not(.rtl){
	.item {
		padding-right:	0 !important;
	}

	.item .remove {
		border-left: 1px solid $select-color-item-border;
		margin-left: $select-padding-item-x;
	}

	.item.active .remove {
		border-left-color: $select-color-item-active-border;
	}

	&.disabled .item .remove {
		border-left-color: lighten(desaturate($select-color-item-border, 100%), $select-lighten-disabled-item-border);
	}
}

.#{$select-ns}-wrapper.plugin-remove_button.rtl {
	.item {
		padding-left:	0 !important;
	}
	
	.item .remove {
		border-right: 1px solid $select-color-item-border;
		margin-right: $select-padding-item-x;
	}

	.item.active .remove {
		border-right-color: $select-color-item-active-border;
	}

	&.disabled .item .remove {
		border-right-color: lighten(desaturate($select-color-item-border, 100%), $select-lighten-disabled-item-border);
	}
}